@font-face{font-family:'Roboto';src:url(../fonts/Roboto-Regular.ttf);font-weight:400;font-style:normal;}
body{padding:0;margin:0;font-family:Roboto,sans-serif;font-size:15px;}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:Roboto,sans-serif}
h2,h3{font-size:16px;}
a{display:block;text-decoration:none;-webkit-transition:.5s;transition:.5s}
a:focus,a:hover{text-decoration:none;color:#f58220}
li{list-style:none;}
.owl-nav button:focus{outline:none!important}
.ptb-40{padding-top:40px;padding-bottom:40px}
.pb-40{padding-bottom:40px}
.pt-40{padding-top:40px}
img{max-width:100%;object-fit:cover;object-position:center;}
p{color:#505050;margin-bottom:15px;line-height:1.8}
p:last-child{margin-bottom:0}
.d-table{width:100%;height:100%}
.d-table-cell{vertical-align:middle}
.section-title{position:relative;margin-bottom:30px}
.section-title h2{margin-bottom:0;font-size:22px;border-left:3px solid #f58220;padding-left:9px}
.section-title .view-more{color:#8a8a8a;font-weight:600;position:absolute;right:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.section-title .view-more:focus,.section-title .view-more:hover{color:#f58220}
.default-news-area{background-color:#f5f5f5}
.default-news-area.bg-color-none{background-color:transparent}
.single-default-news{position:relative;overflow:hidden;margin-bottom:30px}
.single-default-news::before{opacity:.7;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(#111)),-webkit-gradient(linear,left top,left bottom,from(transparent),to(#111));background-image:linear-gradient(transparent,#111),linear-gradient(transparent,#111);content:"";height:70%;bottom:0;left:0;right:0;position:absolute;width:100%;z-index:1}
.single-default-news img{width:100%;height:400px;-webkit-transition:all 1.5s ease-out;transition:all 1.5s ease-out}
.single-default-news .news-content{position:absolute;bottom:0;left:0;width:100%;height:auto;padding:30px;z-index:2;}
.single-default-news .news-content ul{padding:0;list-style-type:none;margin:0}
.single-default-news .news-content ul li{display:inline-block;margin-right:15px;color:#fff;font-weight:500}
.single-default-news .news-content ul li a{display:inline-block;color:#fff}
.single-default-news .news-content ul li a:focus,.single-default-news .news-content ul li a:hover{color:#f58220}
.single-default-news .news-content ul li i{margin-right:3px}
.single-default-news .news-content ul li:last-child{margin-right:0}
.single-default-news .news-content h3{font-size:25px;line-height:1.5;margin-bottom:0;margin-top:15px}
.single-default-news .news-content h3 a{color:#fff;overflow:hidden;text-overflow:ellipsis;line-height:40px;-webkit-line-clamp:2;height:80px;display:-webkit-box;-webkit-box-orient:vertical;}
.single-default-news .tags{top:0;left:25px;position:absolute;-webkit-transition:.5s;transition:.5s}
.single-default-news .tags a{display:inline-block;color:#fff;font-size:13px;font-weight:700;text-transform:capitalize;padding:5px 15px;background-color:#f58220}
.single-default-news .video-btn{position:absolute;left:0;right:0;margin:0 auto;z-index:2;top:35%;text-align:center}
.single-default-news .video-btn a{width:65px;height:65px;display:inline-block;color:#232323;border-radius:50%;line-height:65px;position:relative;font-size:25px;background-color:#fff}
.single-default-news .video-btn a::after{z-index:-1;content:'';position:absolute;left:0;top:0;width:65px;height:65px;-webkit-animation:ripple 1.6s ease-out infinite;animation:ripple 1.6s ease-out infinite;opacity:0;border-radius:50%;background:rgba(255,255,255,.5)}
.single-default-news .video-btn a:focus,.single-default-news .video-btn a:hover{background-color:#f58220;color:#fff}
.single-default-news:focus .tags,.single-default-news:hover .tags{left:15px}
.single-default-news:focus img,.single-default-news:hover img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.single-default-inner-news{position:relative}
.default-video-news .single-video-news .image img{width:100%;height:135px;}
.single-default-inner-news .news-content{background-color:#fff;padding:20px 15px}
.single-default-inner-news .news-content h3{font-size:18px;margin-bottom:0;-webkit-transition:.5s;transition:.5s;overflow:hidden;text-overflow:ellipsis;line-height:25px;-webkit-line-clamp:2;height:50px;display:-webkit-box;-webkit-box-orient:vertical;}
.single-default-inner-news .news-content span{display:block;font-size:14px;color:#8a8a8a;margin-top:10px}
.single-default-inner-news .news-content span i{color:#f58220;margin-right:4px}
.single-default-inner-news .news-image{overflow:hidden}
.single-default-inner-news .news-image img{width:100%;height:195px;-webkit-transition:all 1.5s ease-out;transition:all 1.5s ease-out}
.single-default-inner-news .tags{top:0;left:25px;position:absolute;-webkit-transition:.5s;transition:.5s}
.single-default-inner-news .tags a{display:inline-block;color:#fff;font-size:13px;font-weight:700;text-transform:capitalize;padding:5px 15px;background-color:#f58220}
.single-default-inner-news .link-overlay{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1}
.single-default-inner-news:focus .news-content h3,.single-default-inner-news:hover .news-content h3{color:#f58220}
.single-default-inner-news:focus .tags,.single-default-inner-news:hover .tags{left:15px}
.single-default-inner-news:focus img,.single-default-inner-news:hover img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.default-news-area .col-lg-3 .single-default-inner-news{margin-top:47px}
.tags.bg-1 a{background-color:#f58220!important;}
.tags.bg-2 a{background-color:#ff5575!important;}
.tags.bg-3 a{background-color:#007dff!important;}
.tags.bg-4 a{background-color:#43a047!important;}
.tags.bg-5 a{background-color:#ff7d0e!important;}
.default-video-news{padding:20px 15px;background-color:#fff}
.default-video-news .title{margin-bottom:25px;font-size:22px;border-left:3px solid #f58220;padding-left:9px}
.default-video-news .single-video-news{border-bottom:1px solid #eee;padding-bottom:15px}
.default-video-news .single-video-news .content{margin-top:15px}
.default-video-news .single-video-news .content h3{font-size:18px;margin-bottom:0;-webkit-transition:.5s;transition:.5s;overflow:hidden;text-overflow:ellipsis;line-height:25px;-webkit-line-clamp:2;height:50px;display:-webkit-box;-webkit-box-orient:vertical;}
.default-video-news .single-video-news .content h3 a{color:#232323}
.default-video-news .single-video-news .content h3 a:focus,.default-video-news .single-video-news .content h3 a:hover{color:#f58220}
.default-video-news .single-video-news .image{position:relative}
.default-video-news .single-video-news .image a{position:absolute;bottom:0;left:0;color:#fff;background:#232323;padding:10px;opacity:.7}
.default-video-news .single-video-news:focus .image a,.default-video-news .single-video-news:hover .image a{opacity:1}
.default-video-news .single-video-news:last-child{margin-bottom:0;border-bottom:none;padding-bottom:0}
/*.default-news-slides .single-default-news{margin-bottom:0}
.default-news-slides .single-default-news .news-content{padding:20px}
.default-news-slides .single-default-news .news-content h3{font-size:20px}
.default-news-slides.owl-theme .owl-nav{margin-top:0;line-height:.01}
.default-news-slides.owl-theme .owl-nav [class*=owl-]{width:40px;height:40px;background:#f0f1f4!important;color:#232323!important;line-height:40px!important;margin:0 3px;position:absolute;left:50px;opacity:1;visibility:hidden;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);outline:0;font-size:20px!important;-webkit-transition:.5s;transition:.5s;border-radius:0;border-radius:50%}
.default-news-slides.owl-theme .owl-nav [class*=owl-]:focus,.default-news-slides.owl-theme .owl-nav [class*=owl-]:hover{color:#fff!important;background-color:#f58220!important}
.default-news-slides.owl-theme .owl-nav [class*=owl-].owl-next{left:auto;right:50px}
.default-news-slides.owl-theme:focus .owl-nav [class*=owl-],.default-news-slides.owl-theme:hover .owl-nav [class*=owl-]{left:0;opacity:1;visibility:visible}
.default-news-slides.owl-theme:focus .owl-nav [class*=owl-].owl-next,.default-news-slides.owl-theme:hover .owl-nav [class*=owl-].owl-next{left:auto;right:0}*/
@-webkit-keyframes ripple{
	0%,35%{-webkit-transform:scale(0);transform:scale(0);opacity:1}
	50%{-webkit-transform:scale(1.5);transform:scale(1.5);opacity:.8}
	100%{opacity:0;-webkit-transform:scale(2);transform:scale(2)}
}
@keyframes ripple{
	0%,35%{-webkit-transform:scale(0);transform:scale(0);opacity:1}
	50%{-webkit-transform:scale(1.5);transform:scale(1.5);opacity:.8}
	100%{opacity:0;-webkit-transform:scale(2);transform:scale(2)}
}
.new-news-area{background-color:#f5f5f5}
.new-news-area.bg-color-none{background-color:transparent}
/*.new-news-slides .owl-nav{position:absolute;right:10px;top:0;margin-top:0;line-height:.01}
.new-news-slides .owl-nav [class*=owl-]{width:24px;height:24px;background:#f0f1f4!important;color:#232323!important;line-height:19px!important;margin:0 3px 0;outline:0;font-size:16px!important;-webkit-transition:.5s;transition:.5s;border-radius:0}
.new-news-slides .owl-nav [class*=owl-]:focus,.new-news-slides .owl-nav [class*=owl-]:hover{color:#fff!important;background-color:#f58220!important}
.new-news-slides .single-default-news{margin-bottom:0}
.new-news-slides .single-default-news .news-content{padding:20px}
.new-news-slides .single-default-news .news-content h3{font-size:22px}
.new-news-slides.new-news-slides-two .single-default-news .news-content{padding:50px;max-width:620px}
.new-news-slides.new-news-slides-two .single-default-news .news-content h3{font-size:25px}*/
.single-new-news{position:relative;overflow:hidden;margin-bottom:22px}
.single-new-news:last-child{margin-bottom:0}
.single-new-news::before{opacity:.8;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(#111)),-webkit-gradient(linear,left top,left bottom,from(transparent),to(#111));background-image:linear-gradient(transparent,#111),linear-gradient(transparent,#111);content:"";height:70%;bottom:0;left:0;right:0;position:absolute;width:100%;z-index:1}
.single-new-news img{-webkit-transition:all 1.5s ease-out;transition:all 1.5s ease-out}
.single-new-news .news-content{position:absolute;bottom:0;left:0;width:100%;height:auto;padding:15px;z-index:2}
.single-new-news .news-content ul{padding:0;list-style-type:none;margin:0}
.single-new-news .news-content ul li{display:inline-block;margin-right:15px;color:#fff;font-weight:500}
.single-new-news .news-content ul li a{display:inline-block;color:#fff}
.single-new-news .news-content ul li a:focus,.single-new-news .news-content ul li a:hover{color:#f58220}
.single-new-news .news-content ul li i{margin-right:3px}
.single-new-news .news-content ul li:last-child{margin-right:0}
.single-new-news .news-content h3{font-size:18px;line-height:1.5;margin-bottom:0;margin-top:10px}
.single-new-news .news-content h3 a{color:#fff}
.single-new-news .tags{top:0;left:25px;position:absolute;-webkit-transition:.5s;transition:.5s}
.single-new-news .tags a{display:inline-block;color:#fff;font-size:13px;font-weight:700;text-transform:capitalize;padding:5px 15px;background-color:#f58220}
.single-new-news:focus .tags,.single-new-news:hover .tags{left:15px}
.single-new-news:focus img,.single-new-news:hover img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.single-popular-news{position:relative;margin:15px;margin-bottom:30px;}
.single-popular-news .news-content{margin-top:15px}
.single-popular-news .news-content h3{font-size:18px;margin-bottom:0;-webkit-transition:.5s;transition:.5s;overflow:hidden;text-overflow:ellipsis;line-height:25px;-webkit-line-clamp:2;height:50px;display:-webkit-box;-webkit-box-orient:vertical;}
.single-popular-news .news-content span{display:block;font-size:14px;color:#8a8a8a;margin-top:10px}
.single-popular-news .news-content span i{color:#f58220;margin-right:4px}
.single-popular-news .news-image{overflow:hidden}
.single-popular-news .news-image img{height:235px;-webkit-transition:all 1.5s ease-out;transition:all 1.5s ease-out}
.single-popular-news .tags{top:0;left:25px;position:absolute;-webkit-transition:.5s;transition:.5s}
.single-popular-news .tags a{display:inline-block;color:#fff;font-size:13px;font-weight:700;text-transform:capitalize;padding:5px 15px;background-color:#f58220}
.single-popular-news .link-overlay{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1}
.single-popular-news:focus .news-content h3,.single-popular-news:hover .news-content h3{color:#f58220}
.single-popular-news:focus .tags,.single-popular-news:hover .tags{left:15px}
.single-popular-news:focus img,.single-popular-news:hover img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.popular-news-slides .single-popular-news{margin-bottom:0}
.single-international-news{position:relative;-webkit-box-shadow:0 5px 5px 0 rgba(0,0,0,.04);box-shadow:0 5px 5px 0 rgba(0,0,0,.04);background-color:#fff}
.single-international-news .news-content{padding:20px 15px}
.single-international-news .news-content h3{font-size:18px;margin-bottom:0;line-height:1.4}
.single-international-news .news-content h3 a{color:#232323;overflow:hidden;text-overflow:ellipsis;line-height:25px;-webkit-line-clamp:2;height:50px;display:-webkit-box;-webkit-box-orient:vertical;}
.single-international-news .news-content h3 a:focus,.single-international-news .news-content h3 a:hover{color:#f58220}
.single-international-news .news-content span{display:block;font-size:14px;color:#8a8a8a;margin-bottom:8px}
.single-international-news .news-content span i{color:#f58220;margin-right:4px}
.single-international-news .news-image{overflow:hidden}
.single-international-news .news-image img{height:280px;object-fit:cover;object-position:center;-webkit-transition:all 1.5s ease-out;transition:all 1.5s ease-out}
.single-international-news:focus img,.single-international-news:hover img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.international-news-list .news-media{background-color:#fff;margin-bottom:25px;-webkit-box-shadow:0 5px 5px 0 rgba(0,0,0,.04);box-shadow:0 5px 5px 0 rgba(0,0,0,.04)}
.international-news-list .news-media:last-child{margin-bottom:0}
.international-news-list .news-media a img{width:100px;min-width:100px;height:120px;object-fit:cover;object-position:center;-webkit-transition:.5s;transition:.5s;}
.international-news-list .news-media .content{padding:10px 15px}
.international-news-list .news-media .content span{display:block;font-size:14px;color:#8a8a8a;margin-bottom:8px}
.international-news-list .news-media .content span i{color:#f58220;margin-right:4px}
.international-news-list .news-media .content h3{font-size:17px;margin-bottom:0;margin-top:10px;}
.international-news-list .news-media .content h3 a{color:#232323;overflow:hidden;text-overflow:ellipsis;line-height:24px;-webkit-line-clamp:2;height:50px;display:-webkit-box;-webkit-box-orient:vertical;}
.international-news-list .news-media .content h3 a:focus,.international-news-list .news-media .content h3 a:hover{color:#f58220}
.international-news-list .news-media:focus a img,.international-news-list .news-media:hover a img{opacity:.8}
.stay-connected{display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:0;margin:0 0 20px;list-style-type:none;text-align:center}
.stay-connected li{-ms-flex:0 0 25%;-webkit-box-flex:0;flex:0 0 25%;max-width:25%;background-color:#f5f6fa}
.stay-connected li a{padding:15px;border-left:1px solid #eee;color:#232323}
.stay-connected li a i{width:50px;height:50px;line-height:50px;background-color:#fd815d;color:#fff;border-radius:50%;font-size:19px;display:inline-block}
.stay-connected li a i.icofont-facebook{background-color:#3b5998}
.stay-connected li a i.icofont-twitter{background-color:#0091ea}
.stay-connected li a i.icofont-linkedin{background-color:#1976d2}
.stay-connected li a i.icofont-rss{background-color:#ef6c00}
.stay-connected li a b{display:block;margin-top:12px;font-size:18px}
.stay-connected li a span{display:block;color:#8a8a8a}
.stay-connected li:first-child a{border-left:0}
.categories-list{border:1px solid #eee;padding:30px;margin-bottom:30px}
.single-health-lifestyle-news .news-image{overflow:hidden}
.single-health-lifestyle-news .news-image img{width:100%;height:270px;-webkit-transition:all 1.5s ease-out;transition:all 1.5s ease-out}
.single-health-lifestyle-news .news-content{padding:20px 15px;border:1px solid #eee}
.single-health-lifestyle-news .news-content ul{padding:0;margin:0;list-style-type:none}
.single-health-lifestyle-news .news-content ul li{display:inline-block;margin-right:10px;color:#8a8a8a}
.single-health-lifestyle-news .news-content ul li i{color:#f58220;margin-right:3px}
.single-health-lifestyle-news .news-content ul li a{display:inline-block;color:#8a8a8a}
.single-health-lifestyle-news .news-content ul li a:focus,.single-health-lifestyle-news .news-content ul li a:hover{color:#f58220}
.single-health-lifestyle-news .news-content ul li:last-child{margin-right:0}
.single-health-lifestyle-news .news-content h3{font-size:18px;line-height:1.5;margin-top:12px;margin-bottom:10px}
.single-health-lifestyle-news .news-content h3 a{color:#232323;overflow:hidden;text-overflow:ellipsis;line-height:25px;-webkit-line-clamp:2;height:50px;display:-webkit-box;-webkit-box-orient:vertical;}
.single-health-lifestyle-news .news-content p{overflow:hidden;text-overflow:ellipsis;line-height:27px;-webkit-line-clamp:3;height:80px;display:-webkit-box;-webkit-box-orient:vertical;}
.single-health-lifestyle-news .news-content h3 a:focus,.single-health-lifestyle-news .news-content h3 a:hover{color:#f58220}
.single-health-lifestyle-news:focus .news-image img,.single-health-lifestyle-news:hover .news-image img{-webkit-transform:scale(1.1);transform:scale(1.1);opacity:.5}
.single-around-the-world-news{background-color:#fff;-webkit-box-shadow:0 5px 5px 0 rgba(0,0,0,.04);box-shadow:0 5px 5px 0 rgba(0,0,0,.04)}
.single-around-the-world-news .news-image{overflow:hidden}
.single-around-the-world-news .news-image img{width:100%;height:280px;-webkit-transition:all 1.5s ease-out;transition:all 1.5s ease-out}
.single-around-the-world-news .news-content{padding:20px 15px}
.single-around-the-world-news .news-content ul{padding:0;margin:0;list-style-type:none}
.single-around-the-world-news .news-content ul li{display:inline-block;margin-right:10px;color:#8a8a8a}
.single-around-the-world-news .news-content ul li i{color:#f58220;margin-right:3px}
.single-around-the-world-news .news-content ul li a{display:inline-block;color:#8a8a8a}
.single-around-the-world-news .news-content ul li a:focus,.single-around-the-world-news .news-content ul li a:hover{color:#f58220}
.single-around-the-world-news .news-content ul li:last-child{margin-right:0}
.single-around-the-world-news .news-content h3{font-size:18px;line-height:1.5;margin-top:12px;margin-bottom:10px}
.single-around-the-world-news .news-content h3 a{color:#232323;overflow:hidden;text-overflow:ellipsis;line-height:27px;-webkit-line-clamp:2;height:50px;display:-webkit-box;-webkit-box-orient:vertical;}
.single-around-the-world-news .news-content h3 a:focus,.single-around-the-world-news .news-content h3 a:hover{color:#f58220}
.single-around-the-world-news:focus .news-image img,.single-around-the-world-news:hover .news-image img{-webkit-transform:scale(1.1);transform:scale(1.1);opacity:.5}
.around-the-world-news-media{margin-top:30px;background-color:#fff;-webkit-box-shadow:0 5px 5px 0 rgba(0,0,0,.04);box-shadow:0 5px 5px 0 rgba(0,0,0,.04)}
.around-the-world-news-media a img{width:90px;min-width:90px;height:100px;object-fit:cover;object-position:center;-webkit-transition:.5s;transition:.5s;}
.around-the-world-news-media .content{padding:10px 15px}
.around-the-world-news-media .content span{display:block;font-size:14px;color:#8a8a8a;margin-bottom:8px}
.around-the-world-news-media .content span i{color:#f58220;margin-right:4px}
.around-the-world-news-media .content h3{font-size:17px;margin-bottom:0;margin-top:10px;}
.around-the-world-news-media .content h3 a{color:#232323;overflow:hidden;text-overflow:ellipsis;line-height:25px;-webkit-line-clamp:2;height:50px;display:-webkit-box;-webkit-box-orient:vertical;}
.around-the-world-news-media .content h3 a:focus,.around-the-world-news-media .content h3 a:hover{color:#f58220}
.around-the-world-news-media:focus a img,.around-the-world-news-media:hover a img{opacity:.8}
.single-featured-news{position:relative;overflow:hidden;margin-bottom:30px}
.single-featured-news::before{opacity:.7;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(#111)),-webkit-gradient(linear,left top,left bottom,from(transparent),to(#111));background-image:linear-gradient(transparent,#111),linear-gradient(transparent,#111);content:"";height:70%;bottom:0;left:0;right:0;position:absolute;width:100%;z-index:1}
.single-featured-news img{width:100%;height:270px;-webkit-transition:all 1.5s ease-out;transition:all 1.5s ease-out}
.single-featured-news .news-content{position:absolute;bottom:0;left:0;width:100%;height:auto;padding:20px;z-index:2;}
.single-featured-news .news-content ul{padding:0;list-style-type:none;margin:0}
.single-featured-news .news-content ul li{display:inline-block;margin-right:15px;color:#fff;font-weight:500}
.single-featured-news .news-content ul li a{display:inline-block;color:#fff}
.single-featured-news .news-content ul li a:focus,.single-featured-news .news-content ul li a:hover{color:#f58220}
.single-featured-news .news-content ul li i{margin-right:3px}
.single-featured-news .news-content ul li:last-child{margin-right:0}
.single-featured-news .news-content h3{font-size:18px;line-height:1.5;margin-bottom:0;margin-top:15px}
.single-featured-news .news-content h3 a{color:#fff;overflow:hidden;text-overflow:ellipsis;line-height:27px;-webkit-line-clamp:2;height:50px;display:-webkit-box;-webkit-box-orient:vertical;}
.single-featured-news .tags{top:0;left:25px;position:absolute;-webkit-transition:.5s;transition:.5s}
.single-featured-news .tags a{display:inline-block;color:#fff;font-size:13px;font-weight:700;text-transform:capitalize;padding:5px 15px;background-color:#f58220}
.single-featured-news:focus .tags,.single-featured-news:hover .tags{left:15px}
.single-featured-news:focus img,.single-featured-news:hover img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.single-featured-news:last-child{margin-bottom:0}
.gallery-news-area{background-color:#f5f5f5}
.gallery-news-content{padding:0 20px}
.gallery-news-content h3{font-size:20px;margin-bottom:10px}
.gallery-news-content h3 a{color:#111;overflow:hidden;text-overflow:ellipsis;line-height:30px;-webkit-line-clamp:2;height:55px;display:-webkit-box;-webkit-box-orient:vertical;}
.gallery-news-content p{overflow:hidden;text-overflow:ellipsis;line-height:30px;-webkit-line-clamp:2;height:55px;margin-bottom:20px;display:-webkit-box;-webkit-box-orient:vertical;}
.gallery-news-content h3 a:focus,.gallery-news-inner-slides .gallery-news-content h3 a:hover{color:#f58220}
.gallery-news-content h3 a i{color:#f58220}
.gallery-news-list{margin-top:81px}
.gallery-news-list .gallery-news-media{margin-top:12px;background-color:#fff;-webkit-box-shadow:0 5px 5px 0 rgba(0,0,0,.04);box-shadow:0 5px 5px 0 rgba(0,0,0,.04)}
.gallery-news-list .gallery-news-media:first-child{margin-top:0}
.gallery-news-list .gallery-news-media .image{position:relative}
.gallery-news-list .gallery-news-media .image img{width:110px;min-width:110px;height:120px;-webkit-transition:.5s;transition:.5s}
.gallery-news-list .gallery-news-media .content{padding:10px 15px}
.gallery-news-list .gallery-news-media .content h3{font-size:17px;margin-bottom:0;line-height:1.4}
.gallery-news-list .gallery-news-media .content h3 a{color:#232323;overflow:hidden;text-overflow:ellipsis;line-height:25px;-webkit-line-clamp:2;height:50px;display:-webkit-box;-webkit-box-orient:vertical;}
.gallery-news-list .gallery-news-media .content h3 a:focus,.gallery-news-list .gallery-news-media .content h3 a:hover{color:#f58220}
.gallery-news-list .gallery-news-media:focus .image img,.gallery-news-list .gallery-news-media:hover .image img{opacity:.8}
.gallery-news-list .gallery-news-media:focus .image a,.gallery-news-list .gallery-news-media:hover .image a{opacity:1}
.single-fashion-news{position:relative;overflow:hidden}
.single-fashion-news::before{opacity:.7;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(#111)),-webkit-gradient(linear,left top,left bottom,from(transparent),to(#111));background-image:linear-gradient(transparent,#111),linear-gradient(transparent,#111);content:"";height:70%;bottom:0;left:0;right:0;position:absolute;width:100%;z-index:1}
.single-fashion-news img{width:100%;height:270px;-webkit-transition:all 1.5s ease-out;transition:all 1.5s ease-out}
.single-fashion-news .news-content{position:absolute;bottom:0;left:0;width:100%;height:auto;padding:20px;z-index:2;}
.single-fashion-news .news-content ul{padding:0;list-style-type:none;margin:0}
.single-fashion-news .news-content ul li{display:inline-block;margin-right:15px;color:#fff;font-weight:500}
.single-fashion-news .news-content ul li a{display:inline-block;color:#fff}
.single-fashion-news .news-content ul li a:focus,.single-fashion-news .news-content ul li a:hover{color:#f58220}
.single-fashion-news .news-content ul li i{margin-right:3px}
.single-fashion-news .news-content ul li:last-child{margin-right:0}
.single-fashion-news .news-content h3{font-size:18px;line-height:1.5;margin-bottom:0;margin-top:15px}
.single-fashion-news .news-content h3 a{color:#fff;overflow:hidden;text-overflow:ellipsis;line-height:27px;-webkit-line-clamp:2;height:50px;display:-webkit-box;-webkit-box-orient:vertical;}
.single-fashion-news:focus .tags,.single-fashion-news:hover .tags{left:15px}
.single-fashion-news:focus img,.single-fashion-news:hover img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.fashion-inner-news{background-color:#fff;-webkit-box-shadow:0 5px 5px 0 rgba(0,0,0,.04);box-shadow:0 5px 5px 0 rgba(0,0,0,.04)}
.fashion-inner-news .single-fashion-inner-news{padding:15px;border-bottom:1px solid #eee}
.fashion-inner-news .single-fashion-inner-news:last-child{border-bottom:none}
.fashion-inner-news .single-fashion-inner-news span{display:block;font-size:14px;color:#8a8a8a;margin-bottom:8px}
.fashion-inner-news .single-fashion-inner-news span i{color:#f58220;margin-right:4px}
.fashion-inner-news .single-fashion-inner-news h3{font-size:17px;margin-bottom:0;line-height:1.4}
.fashion-inner-news .single-fashion-inner-news h3 a{color:#232323;overflow:hidden;text-overflow:ellipsis;line-height:24px;-webkit-line-clamp:2;height:50px;display:-webkit-box;-webkit-box-orient:vertical;}
.fashion-inner-news .single-fashion-inner-news h3 a:focus,.fashion-inner-news .single-fashion-inner-news h3 a:hover{color:#f58220}
.more-news-area{padding-bottom:70px}
.more-news-inner{background-color:#f58220;padding:20px;height:350px;}
.more-news-inner .section-title h2{color:#fff;border-color:#fff}
.more-news-inner .more-news-slides{margin-bottom:-50px}
.single-more-news{position:relative;overflow:hidden;margin:10px;}
.single-more-news::before{opacity:.7;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(#111)),-webkit-gradient(linear,left top,left bottom,from(transparent),to(#111));background-image:linear-gradient(transparent,#111),linear-gradient(transparent,#111);content:"";height:70%;bottom:0;left:0;right:0;position:absolute;width:100%;z-index:1}
.single-more-news img{width:100%;height:270px;-webkit-transition:all 1.5s ease-out;transition:all 1.5s ease-out}
.single-more-news .news-content{position:absolute;bottom:0;left:0;width:100%;height:auto;padding:20px;z-index:2;}
.single-more-news .news-content ul{padding:0;list-style-type:none;margin:0}
.single-more-news .news-content ul li{display:inline-block;margin-right:15px;color:#fff;font-weight:500}
.single-more-news .news-content ul li a{display:inline-block;color:#fff}
.single-more-news .news-content ul li a:focus,.single-more-news .news-content ul li a:hover{color:#f58220}
.single-more-news .news-content ul li i{margin-right:3px}
.single-more-news .news-content ul li:last-child{margin-right:0}
.single-more-news .news-content h3{font-size:18px;line-height:1.5;margin-bottom:0;margin-top:15px}
.single-more-news .news-content h3 a{color:#fff;overflow:hidden;text-overflow:ellipsis;line-height:27px;-webkit-line-clamp:2;height:50px;display:-webkit-box;-webkit-box-orient:vertical;}
.single-more-news .tags{top:0;left:25px;position:absolute;-webkit-transition:.5s;transition:.5s}
.single-more-news .tags a{display:inline-block;color:#fff;font-size:13px;font-weight:700;text-transform:capitalize;padding:5px 15px;background-color:#f58220}
.single-more-news:focus .tags,.single-more-news:hover .tags{left:15px}
.single-more-news:focus img,.single-more-news:hover img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.breadcrumb{padding:15px 25px;margin:0;list-style-type:none;margin-bottom:30px;background-color:#fff;-webkit-box-shadow:0 0 25px 0 rgba(0,0,0,.08);box-shadow:0 0 25px 0 rgba(0,0,0,.08)}
.breadcrumb li{color:#8a8a8a;display:inline-block;margin-right:5px}
.breadcrumb li a{color:#8a8a8a}
.breadcrumb li a:hover{color:#f58220}
.breadcrumb li:last-child{color:#f58220}
.all-category-news .pagination-area{margin-top:50px}
.all-category-news .stay-connected-ads{margin-bottom:40px}
.single-category-news{margin-bottom:30px}
.single-category-news .category-news-content{padding-left:10px}
.single-category-news .category-news-content span i{color:#f58220;}
.single-category-news .category-news-content h3{font-size:18px;line-height:1.5;margin-bottom:12px;margin-top:12px}
.single-category-news .category-news-content h3 a{color:#232323;overflow:hidden;text-overflow:ellipsis;line-height:28px;-webkit-line-clamp:2;height:60px;display:-webkit-box;-webkit-box-orient:vertical;}
.single-category-news .category-news-content p{overflow:hidden;text-overflow:ellipsis;line-height:26px;-webkit-line-clamp:3;height:85px;display:-webkit-box;-webkit-box-orient:vertical;}
.category_item{margin-bottom:20px;}
.single-category-news .category-news-content h3 a:focus,.single-category-news .category-news-content h3 a:hover{color:#f58220}
.single-category-news .category-news-content span{color:#8a8a8a;display:block}
.single-category-news .category-news-image{position:relative;overflow:hidden}
.single-category-news .category-news-image img{width:100%;height:195px;-webkit-transition:all 1.5s ease-out;transition:all 1.5s ease-out}
.single-category-news .category-news-image .tags{top:0;right:25px;position:absolute;-webkit-transition:.5s;transition:.5s}
.single-category-news .category-news-image .tags a{display:inline-block;color:#fff;font-size:13px;font-weight:700;text-transform:capitalize;padding:5px 15px;background-color:#f58220}
.single-category-news .category-news-image .video-btn{position:absolute;bottom:0;left:0;color:#fff;background:#232323;padding:10px 15px;opacity:.7}
.single-category-news:focus .category-news-image .tags,.single-category-news:hover .category-news-image .tags{right:15px}
.single-category-news:focus .category-news-image img,.single-category-news:hover .category-news-image img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.single-category-news:focus .category-news-image .video-btn,.single-category-news:hover .category-news-image .video-btn{background-color:#f58220;color:#fff;opacity:1}
.pagination-area{margin-top:30px;text-align:center}
.pagination-area .page-numbers{width:40px;height:40px;margin:0 3px;display:inline-block;background-color:#fff;line-height:40px;color:#232323;-webkit-box-shadow:0 2px 10px 0 #d8dde6;box-shadow:0 2px 10px 0 #d8dde6;font-size:17px;font-weight:600}
.pagination-area .page-numbers.current,.pagination-area .page-numbers:focus,.pagination-area .page-numbers:hover{background:#f58220;color:#fff;-webkit-box-shadow:unset;box-shadow:unset}
.contact-form h3{font-size:24px;margin-bottom:25px}
.contact-form form .form-control:focus{border-color:#f58220!important}
.contact-form form .btn{border-radius:0;margin-top:15px}
.contact-form form .with-errors{margin-top:10px;font-family:Heebo,sans-serif}
.contact-form form .with-errors ul li{color:red}
.contact-form form #msgSubmit{margin:0}
.contact-form form .text-danger,.contact-form form .text-success{margin-top:15px!important}
.contact-info h3{font-size:24px;margin-bottom:12px}
.contact-info p{margin-bottom:25px}
.contact-info ul{padding:0;margin:0;list-style-type:none}
.contact-info ul li{margin-bottom:12px;color:#8a8a8a}
.contact-info ul li a{display:inline-block;color:#8a8a8a}
.contact-info ul li a:hover{color:#f58220}
.contact-info ul li i{color:#f58220;margin-right:3px}
.contact-info ul li:last-child{margin-bottom:0}
.footer-area{background-color:#232323;padding-top:60px;}
.single-footer-widget h3{font-size:22px;color:#fff;margin-bottom:35px}
.single-footer-widget .contact-info{margin-bottom:0}
.single-footer-widget .contact-info p{margin-top:-5px;color:#ccc}
.single-footer-widget .contact-info ul{padding:0;list-style-type:none;margin:0}
.single-footer-widget .contact-info ul li{color:#ccc;margin-bottom:12px;position:relative;padding-left:22px;}
.single-footer-widget .contact-info ul li i{position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.single-footer-widget .contact-info ul li a{display:inline-block;color:#ccc}
.single-footer-widget .fast-link ul{padding:0;list-style-type:none;margin:0}
.single-footer-widget .fast-link ul li{color:#ccc;margin-bottom:12px;position:relative;padding-left:0;}
.single-footer-widget .fast-link ul li a{display:inline-block;color:#ccc}
.single-footer-widget .fast-link ul li a:focus,.single-footer-widget .fast-link ul li a:hover{color:#f58220}
.single-footer-widget .contact-info ul li a:focus,.single-footer-widget .contact-info ul li a:hover{color:#f58220}
.single-footer-widget .contact-info ul li:last-child{margin-bottom:0}
.single-footer-widget .connect-social{margin-top:20px}
.single-footer-widget .connect-social p{color:#ccc;margin-bottom:15px}
.single-footer-widget .connect-social ul{padding:0;margin:0;list-style-type:none}
.single-footer-widget .connect-social ul li{display:inline-block;margin-right:3px;}
.single-footer-widget .connect-social ul li a{background-color:#2d2d2d;width:35px;height:35px;line-height:35px;border-radius:50%;text-align:center;color:#fff}
.single-footer-widget .connect-social ul li a:focus,.single-footer-widget .connect-social ul li a:hover{background-color:#f58220;color:#fff}
.single-footer-widget .latest-news-media{margin-top:20px}
.single-footer-widget .latest-news-media:first-child{margin-top:0}
.single-footer-widget .latest-news-media a img{-webkit-transition:.5s;transition:.5s;width:95px}
.single-footer-widget .latest-news-media .content{padding:10px 15px}
.single-footer-widget .latest-news-media .content ul{padding:0;margin:0;list-style-type:none}
.single-footer-widget .latest-news-media .content ul li{display:inline-block;font-size:14px;color:#ccc;margin-right:12px}
.single-footer-widget .latest-news-media .content ul li i{color:#f58220;margin-right:3px}
.single-footer-widget .latest-news-media .content ul li a{display:inline-block;color:#ccc}
.single-footer-widget .latest-news-media .content ul li a:focus,.single-footer-widget .latest-news-media .content ul li a:hover{color:#f58220}
.single-footer-widget .latest-news-media .content ul li:last-child{margin-right:0}
.single-footer-widget .latest-news-media .content h3{font-size:16px;line-height:1.4;margin-bottom:0;margin-top:8px}
.single-footer-widget .latest-news-media .content h3 a{color:#ccc}
.single-footer-widget .latest-news-media .content h3 a:focus,.single-footer-widget .latest-news-media .content h3 a:hover{color:#f58220}
.single-footer-widget .latest-news-media:focus a img,.single-footer-widget .latest-news-media:hover a img{opacity:.8}
.single-footer-widget .twitter-tweet-list .single-tweet{position:relative;padding-left:30px;margin-top:20px}
.single-footer-widget .twitter-tweet-list .single-tweet i{color:#0091ea;font-size:20px;position:absolute;top:3px;left:0}
.single-footer-widget .twitter-tweet-list .single-tweet span{color:#f58220;display:block;margin-bottom:5px}
.single-footer-widget .twitter-tweet-list .single-tweet p{color:#ccc;font-size:14px}
.single-footer-widget .twitter-tweet-list .single-tweet p a{display:inline-block;color:#fff}
.single-footer-widget .twitter-tweet-list .single-tweet p a:focus,.single-footer-widget .twitter-tweet-list .single-tweet p a:hover{color:#f58220}
.single-footer-widget .twitter-tweet-list .single-tweet:first-child{margin-top:0}
.copyright-area{background-color:#000;margin-top:60px;padding-top:30px;padding-bottom:30px}
.copyright-area p{color:#fff;margin:0;text-align:center;}
.copyright-area p a{display:inline-block;color:#fff}
.copyright-area .footer-nav{text-align:right;padding:0;list-style-type:none;margin:0}
.copyright-area .footer-nav li{display:inline-block;margin-left:15px}
.copyright-area .footer-nav li:first-child{margin-left:0}
.copyright-area .footer-nav li a{color:#ccc}
.copyright-area .footer-nav li a:focus,.copyright-area .footer-nav li a:hover{color:#f58220}

/* Button go-to-top */
.go-to-top{position:fixed;bottom:0.75em;right:0.5em;text-decoration:none;color:#fff;background:#f58220;font-size:18px;padding:12px 19px;display:none;margin:0;border-radius:50%;width:50px;height:50px;}
.go-to-top i{margin-top:4px;}
.go-to-top:hover,.go-to-top:focus{color:#fff;text-decoration:none;}

/* Button go-to-top */
.single-featured-news img{width:100%;}
.dpf{display:flex;}

/*Menu desktop*/
.nav_menu{display:flex;align-items:center;justify-content:space-between;height:64px;position:relative;z-index:999;}
.nav_menu img{width:100px;height:80px;}
.header__inner .nav-menu ul{display:flex;height:64px;}
.header__inner .nav-menu ul li{padding-left:20px;padding-top:30px;font-size:14px;text-transform:uppercase;}
.header__inner .nav-menu ul li a{color:#333;}
.header__inner .nav-menu ul li .sub-menu{display:block;position:absolute;opacity:0;visibility:hidden;margin-top:20px;}
.header__inner .nav-menu ul li:hover > .sub-menu{visibility:visible;opacity:1;}
.sub-menu{padding-left:0;text-align:left;min-width:200px;width:auto;background:#fff;}
.sub-menu li{padding:0!important;}
.sub-menu li a{text-transform:none;font-size:14px;color:rgba(0,0,0,0.75);-webkit-transition:0.1s;-moz-transition:0.1s;transition:0.1s;display:block;padding:11px 15px;text-align:left;min-width:200px;padding:5px;padding-left:20px;}
.nav_search{margin-right:30px;height:40px;display:flex;align-items:center;justify-content:end;}
.nav_search .search-text{width:350px;height:40px;text-indent:15px;border:1px solid #5252521c;margin-right:5px;border-radius:3px;}
.search_button,.close_button_search{cursor:pointer;margin:0;}
.nav_search .search_form{display:none;}
.search-form{display:flex;align-items:center;}
.search_show{display:flex!important;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;animation-name:fadeIn;animation-delay:.3s;}
.search_hide{display:none;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;animation-name:fadeIn;animation-delay:.3s;}

/*Menu desktop*/

/* Mobile menu */
.mobile_menu{width:100%;height:50px;background:#fff;display:none;}
.nav-menu-mobile .sub-menu{display:none;}
.menu_button{width:100%;height:100%;display:flex;justify-content:space-between;align-items:center;}
.menu_button .logo_mobile{width:100px;height:90px;margin-left:15px;}
.mobile_menu_inner{width:100%;height:auto;position:relative;background:#fff;}
.mobile_menu_inner .nav-menu-mobile{display:none;position:relative;background:#fff;text-align:center;padding:0 0 20px;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;animation-name:fadeInDown;animation-delay:0.3s;}
.mobile_menu_inner .menu-mobile-active{display:block;}
.mobile_menu_inner ul li{padding:5px;text-align:left;padding-left:30px;position:relative;}
.mobile_menu_inner .navbar_nav li i{color:#333;position:absolute;right:30px;margin-top:10px;top:0;}
.mobile_menu_inner ul li a{color:#333;font-size:18px;}
.burger{width:30px;height:20px;margin-right:30px;cursor:pointer;position:relative;}
.burger__line{display:block;width:100%;height:2px;background-color:#333;position:absolute;left:0;transition:.3s all linear;}
.burger__line_first{top:0;}
.burger__line_second,.burger__line_third{top:50%;transform:translateY(-50%);}
.burger__line_fourth{bottom:0;}
.burger_active .burger__line_first,.burger_active .burger__line_fourth{opacity:0;}
.burger_active .burger__line_second{transform:translateY(-50%) rotate(45deg);}
.burger_active .burger__line_third{transform:translateY(-50%) rotate(-45deg);}

/* Mobile menu */
@keyframes fadeIn{
	from{opacity:0;}
	to{opacity:1;}
}
@keyframes fadeInDown{
	0%{opacity:0;transform:translateY(-20px);}
	100%{opacity:1;transform:translateY(0);}
}
.lifestyle_slider1 .slider-1{position:relative;}
.lifestyle_slider1 .slider-1 .owl-nav{position:absolute;top:-72px;right:0;font-size:35px;font-weight:700;}
.lifestyle_slider1 .slider-1 .owl-nav .owl-prev{margin-right:10px;}
.gallery-news .owl-stage-outer{background:#fff;}
.gallery-news-content{margin-top:60px;}
.gallery-news .slider-1{position:relative;}
.gallery-news .slider-1 .owl-nav{position:absolute;top:5px;right:0;font-size:17px;font-weight:700;color:#111;}
.gallery-news .slider-1 .owl-nav button{background:#fff;width:25px;height:25px;margin-right:5px;}
.more-news-inner .slider-2{position:relative;}
.more-news-inner .slider-2 .owl-nav{position:absolute;top:-72px;right:0;font-size:35px;color:#fff;}
.more-news-inner .slider-2 .owl-nav button{margin-right:10px;}
.popular-news-area .slider-2{position:relative;}
.popular-news-area .slider-2 .owl-nav{position:absolute;top:-70px;right:0;font-size:30px;font-weight:700;}
.popular-news-area .slider-2 .owl-nav button{margin-right:10px;}
.breaking-news-content{display:flex;width:100%;height:50px;background:#f5f5f5;align-items:center;padding-left:20px;margin:20px 0;}
.breaking-news-content .breaking-title{font-size:13px;font-weight:700;text-transform:uppercase;color:#f58220;padding-right:8px;float:left;min-width:120px;}
.breaking-news-content .slider{width:calc(100% - 140px);position:relative;}
.breaking-news-content .slider .owl-nav{position:absolute;top:-8px;font-size:25px;font-weight:700;}
.breaking-news-content .slider .owl-nav .owl-prev{margin-right:20px;}
.breaking-news-content .single-breaking-news a{font-size:13px;color:#333;}
.form-control{height:50px;padding:15px;border-radius:0;border-color:#eee!important;font-size:15px;padding-left:15px;-webkit-box-shadow:unset!important;box-shadow:unset!important}
.contact-form form .form-control:focus{border-color:#f58220!important}
.contact-form form .btn{border-radius:0;margin-top:15px;color:#fff;background-color:#f58220;}
.contact-info h3{font-size:24px;margin-bottom:12px}
.contact-info p{margin-bottom:25px}
.contact-info ul{padding:0;margin:0;list-style-type:none}
.contact-info ul li{margin-bottom:12px;color:#8a8a8a}
.contact-info ul li a{display:inline-block;color:#8a8a8a}
.contact-info ul li a:hover{color:#f58220}
.contact-info ul li i{color:#f58220;margin-right:3px}
.contact-info ul li:last-child{margin-bottom:0}
.contact_map{width:100%;height:450px;margin-top:30px;}
.contact_map iframe{width:100%;height:100%;}
.single_blog_post{text-align:justify;}
.single_blog_post .thumb{width:100%;height:auto;}
.wp_single .single-around-the-world-news .news-image img{height:160px;}
.wp_single .block_header{font-size:20px;}
.wp_single .block_header{margin-top:50px;}
.wp_single .article-content{padding:15px;border:1px solid #eee;}
.wp_single .entry-meta{padding:0;margin:0 0px 20px;list-style-type:none;display:flex;}
.wp_single .entry-meta li{display:inline-block;color:#8a8a8a;margin-right:12px;}
.wp_single .article-content .mb-0{font-size:22px;}
.home_slider .slider_img{margin:15px;}
.home_slider img{width:100%;height:600px;object-fit:cover;object-position:center;}
.home_slider .slider-1{position:relative;}
.home_slider .owl-nav{position:absolute;top:40%;font-size:70px;width:100%;display:flex;align-items:center;justify-content:space-between;padding:0 25px;color:#fff;}
.contact-area{padding-bottom:0!important;}
.wp-caption{width:100%!important;}
.wp-caption img{width:100%;height:auto;}
.gallery-news-image img{width:100%;height:250px;}
.gallery-news-content span i{color:#f58220}
.gallery-news-list span i{color:#f58220}